

@model HandleErrorInfo

<!DOCTYPE html >
@{
    var factory = new CustomErrorPage.Mvc3.Errors.ErrorPageFactory(HttpContext.Current.Request);
    var viewModel = factory.Build(Model);
    <html>
        <head>
            <title>@viewModel.PageTitle</title>
            <style>
                .rootExceptionMessage {
                    font-size: x-large;
                    background-color: gainsboro;
                    width:100%
                }
                .rootExceptionType {
                     font-size: large;
                    background-color: gainsboro;
                    width:100%
                }
                 .environmentDetails {
                     border: black;
                     border-style: solid;
                 }
                 .searchlink {
                     text-decoration: none;
                     color: black;
                 }
                 .searchlink:hover {
                     text-decoration: underline;
                 }
            </style>
        </head>
        <body>
            <div class="rootExceptionMessage">
                @viewModel.RootException.Message
            </div>
            <div class="rootExceptionType">
                (@viewModel.RootException.Type)
            </div>
 
            @foreach (var exception in viewModel.Exceptions)
            {
                <hr/>
                <div class="exceptionDetails">
                    <div class="exceptionType">
                        <a class="searchlink" target="new" href="@exception.Type.SearchUrl">@exception.Type.Text</a>
                    </div>
                    <div class="exceptionMessage">
                        <a class="searchlink" target="new" href="@exception.Message.SearchUrl">@exception.Message.Text</a>
                    </div>
                    <div class="exceptionSource">
                         <a class="searchlink"target="new" href="@exception.Source.SearchUrl">@exception.Source.Text</a>
                    </div>
           
                    <div class="exceptionStackTrace">
                        @{
                            foreach (var trace in exception.StackTrace)
                            {
                                <a class="searchlink" target="new" href="@trace.SearchUrl">@trace.Text</a>
                            }
                        }
            
                    </div>
                </div>
            }
            
            <div class="environmentDetails">
               
                <div id="machineName">
                    @viewModel.MachineName
                </div>
                <div class="serverUserName">
                     @viewModel.ServerUserName
                </div>
                <div class="requestingUserName">
                     @viewModel.RequestingUserName
                </div>
                <div class="serverTime">
                    @viewModel.ServerTime
                </div>  
                <div class="errorLocation">
                    <a class="actionUrl" href="@viewModel.RequestingUrl">An Error Occured at: @viewModel.ControllerName/@Model.ActionName</a>
                </div>
                <div class="serverVariables">
                    Server Variables
                    @foreach ( var item in viewModel.RequestServerVariables)
                    {
                        <div class="serverVariableValue">@item.Name: @item.Value</div>

                    }
                </div>
            </div>
            <div class="requestDetails">
                <div class="contentType">
                    @viewModel.RequestContentType
                </div>
                <div class="contentEncoding">
                    @viewModel.RequestContentEncoding
                </div>
                 <div class="requestMethod">
                    @viewModel.RequestHttpMethod
                </div>
                <div class="headers">
                    Headers:
                    @foreach ( var item in viewModel.RequestHeaderValues)
                    {
                        <div class="headerValue">@item.Name: @item.Value</div>

                    }
                </div>
                <div class="cookies">
                    Cookies:
                    @foreach ( var item in viewModel.RequestCookies)
                    {
                        <div class="cookieValue">@item.Name: @item.Value</div>

                    }
                </div>
                <div class="form">
                    Form:
                    @foreach ( var item in viewModel.RequestFormValues)
                    {
                        <div class="formValue">@item.Name: @item.Value</div>

                    }
                </div>

            </div>
        </body>
    </html>
}