@using CustomErrorPage.Mvc3.Errors
@model HandleErrorInfo

@functions {
    private Stack<Exception> GetExceptionStack()
{
    var innerMostException = Model.Exception;

    var exceptionStack = new Stack<Exception>();
    exceptionStack.Push(innerMostException);
    while (innerMostException.InnerException != null)
{
    innerMostException = innerMostException.InnerException;
    exceptionStack.Push(innerMostException);
    }
    return exceptionStack;
    }
    private MvcHtmlString AsSearchLink(object input)
    {
        var item = Url.Encode(input.ToString());
        var url = String.Format(@"https://www.google.com/search?q={0}",item);
        var link = string.Format(@"<a class='searchlink' href='{0}' target='new'>{1}</a>", url, input);

        var l = new MvcHtmlString(link);
        return l;
    }
}
<!DOCTYPE html >
@{
    var exceptionStack = GetExceptionStack();
    var innermostException = exceptionStack.First();
    var factory = new ErrorPageFactory(HttpContext.Current.Request);
    var viewModel = factory.Build(Model);
    <html>
        <head>
            <title>Error</title>
            <style>
                .rootExceptionMessage {
                    font-size: x-large;
                    background-color: gainsboro;
                    width:100%
                }
                .rootExceptionType {
                     font-size: large;
                    background-color: gainsboro;
                    width:100%
                }
                 .environmentDetails {
                     border: black;
                     border-style: solid;
                 }
                 .searchlink {
                     text-decoration: none;
                     color: black;
                 }
            </style>
        </head>
        <body>
            <div class="rootExceptionMessage">
                @viewModel.RootException.Message
            </div>
            <div class="rootExceptionType">
                (@viewModel.RootException.Type)
            </div>
 
            @foreach (var exception in viewModel.Exceptions)
            {
                <hr/>
                <div class="exceptionDetails">
                    <div class="exceptionType">
                        @AsSearchLink(exception.Type)
                    </div>
                    <div class="exceptionMessage">
                         @AsSearchLink(exception.Message)
                    </div>
                    <div class="exceptionSource">
                         @AsSearchLink(exception.Source)
                    </div>
           
                    <div class="exceptionStackTrace">
                        @{
                            foreach (var trace in exception.StackTrace)
                            {
                                <div> @AsSearchLink(@trace)</div>
                            }
                        }
            
                    </div>
                </div>
            }
            
            <div class="environmentDetails">
               
                <div id="machineName">
                    @viewModel.MachineName
                </div>
                <div class="serverUserName">
                     @viewModel.ServerUserName
                </div>
                <div class="requestingUserName">
                     @viewModel.RequestingUserName
                </div>
                <div class="serverTime">
                    @viewModel.ServerTime
                </div>  
                <div class="errorLocation">
                    <a class="actionUrl" href="@Context.Request.Url">An Error Occured at: @viewModel.ControllerName/@Model.ActionName</a>
                </div>
                <div class="serverVariables">
                    Server Variables
                    @foreach ( var item in viewModel.RequestServerVariables)
                    {
                        <div class="serverVariableValue">@item.Name: @item.Value</div>

                    }
                </div>
            </div>
            <div class="requestDetails">
                <div class="contentType">
                    @viewModel.RequestContentType
                </div>
                <div class="contentEncoding">
                    @viewModel.RequestContentEncoding
                </div>
                 <div class="requestMethod">
                    @viewModel.RequestHttpMethod
                </div>
                <div class="headers">
                    Headers:
                    @foreach ( var item in viewModel.RequestHeaderValues)
                    {
                        <div class="headerValue">@item.Name: @item.Value</div>

                    }
                </div>
                <div class="cookies">
                    Cookies:
                    @foreach ( var item in viewModel.RequestCookies)
                    {
                        <div class="cookieValue">@item.Name: @item.Value</div>

                    }
                </div>
                <div class="form">
                    Form:
                    @foreach ( var item in viewModel.RequestFormValues)
                    {
                        <div class="formValue">@item.Name: @item.Value</div>

                    }
                </div>

            </div>
        </body>
    </html>
}