

@model HandleErrorInfo

<!DOCTYPE html >
@{
    var factory = new CustomErrorPage.Mvc3.Errors.ErrorPageFactory(HttpContext.Current.Request);
    var viewModel = factory.Build(Model);
    <html>
        <head>
            <title>@viewModel.PageTitle</title>
            <style>
                .rootExceptionMessage {
                    font-size: xx-large;
                    background-color: gainsboro;
                    width: 100%;
                    color: maroon;
                }
                .rootExceptionType {
                    font-size: x-large;
                    background-color: gainsboro;
                    width:100%
                }
                .searchlink {
                    text-decoration: none;
                    color: black;
                }
                .searchlink:hover {
                    text-decoration: underline;
                }
                .errorDetailTable {
                    width: 100%;
                }
                .errorDetailTable th{
                    background-color: silver;
                    padding-left: 10px;
                    padding-right: 10px;
                }
                .errorDetailTable tr{
                    padding-left: 10px;
                    padding-right: 10px;
                }
                .errorDetailTable tr:nth-child(even) {
                    background-color: lightcyan;
                }
                .errorDetailTable .valueName {
                    font-style: italic;
                }
                .exceptionType {
                    font-size: large;
                    font-weight: bold;
                }
                .exceptionMessage {
                    font-size: medium;
                    font-style: italic;
                }
                #exceptions {
                    background-color: rgb(255, 255, 148);
                }
            </style>
            
            <link href="http://cdn.kendostatic.com/2012.3.1114/styles/kendo.common.min.css" rel="stylesheet" />
            <link href="http://cdn.kendostatic.com/2012.3.1114/styles/kendo.rtl.min.css" rel="stylesheet" />
            <link href="http://cdn.kendostatic.com/2012.3.1114/styles/kendo.default.min.css" rel="stylesheet" />
            <link href="http://cdn.kendostatic.com/2012.3.1114/styles/kendo.dataviz.min.css" rel="stylesheet" />
            <link href="http://cdn.kendostatic.com/2012.3.1114/styles/kendo.dataviz.default.min.css" rel="stylesheet" />
            
            <link href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet"/>
        </head>
        <body>
            <div class="rootExceptionMessage">
                 @viewModel.RootException.Message.Text
            </div>
            <div class="rootExceptionType">
                (@viewModel.RootException.Type.Text)
            </div>
            <br/>
            <ul id="errorDetailPanel">
                <li class="k-state-active">
                    <span class="k-link k-state-selected">Exception</span>
                    <div id="exceptions">
                        @foreach (var exception in viewModel.Exceptions)
                        {
                            <hr/>
                            <div>
                                <div class="exceptionType">
                                    <a class="searchlink" target="new" href="@exception.Type.SearchUrl">@exception.Type.Text</a>
                                </div>
                                <div class="exceptionMessage">
                                    <a class="searchlink" target="new" href="@exception.Message.SearchUrl">@exception.Message.Text</a>
                                </div>
                                <div>
                                    <a class="searchlink"target="new" href="@exception.Source.SearchUrl">@exception.Source.Text</a>
                                </div>
           
                                <div>
                                    @{
                                        foreach (var trace in exception.StackTrace)
                                        {
                                            <div>
                                                <a class="searchlink" target="new" href="@trace.SearchUrl">@trace.Text</a>
                                            </div>
                                        }
                                    }
            
                                </div>
                            </div>
                        }
                    </div>
                </li>
                <li>
                    Environment Details
                    <div>
                        <table class="errorDetailTable">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="valueName">Machine Name</td>
                                    <td>@viewModel.MachineName</td>
                                </tr>
                                <tr>
                                    <td class="valueName">User Name</td>
                                    <td>@viewModel.ServerUserName</td>
                                </tr>
                                <tr>
                                    <td class="valueName">Requesting User Name</td>
                                    <td>@viewModel.RequestingUserName</td>
                                </tr>
                                <tr>
                                    <td class="valueName">Server Time</td>
                                    <td>@viewModel.ServerTime</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li>
                    Server Variables
                    <div>
                        <table class="errorDetailTable">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                       
                                @foreach (var item in viewModel.RequestServerVariables)
                                {
                                    <tr>
                                        <td class="valueName">@item.Name</td>
                                        <td>@item.Value</td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </li>
                <li>
                    Request Details
                    <div>
                        <table class="errorDetailTable">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="valueName">Error At</td>
                                    <td> <a href="@viewModel.RequestingUrl">@viewModel.ControllerName/@Model.ActionName</a></td>
                                </tr>
                                <tr>
                                    <td class="valueName">Content Type</td>
                                    <td> @viewModel.RequestContentType</td>
                                </tr>
                                <tr>
                                    <td class="valueName">Content Encoding</td>
                                    <td> @viewModel.RequestContentEncoding</td>
                                </tr>
                                <tr>
                                    <td class="valueName">Request Method</td>
                                    <td> @viewModel.RequestHttpMethod</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li>
                    Headers
                    <div>
                        <table class="errorDetailTable">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach ( var item in viewModel.RequestHeaderValues)
                                {
                                    <tr>
                                        <td class="valueName">@item.Name</td>
                                        <td>@item.Value</td>
                                    </tr>
                                }
                                </tbody>
                        </table>
                    </div>
                </li>
                <li>
                    Cookies
                   <div>
                        <table class="errorDetailTable">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach ( var item in viewModel.RequestCookies)
                                {
                                    <tr>
                                        <td class="valueName">@item.Name</td>
                                        <td>@item.Value</td>
                                    </tr>
                                }
                                </tbody>
                        </table>
                    </div>
                </li>
                <li>
                    Form Values
                    @if (!viewModel.RequestFormValues.Any())
                    {
                        <div>None</div>
                    }
                    else
                    {
                        <div>
                            <table class="errorDetailTable">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in viewModel.RequestFormValues)
                                    {
                                        <tr>
                                            <td class="valueName">@item.Name</td>
                                            <td>@item.Value</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </li>
            </ul>
            
            <script src="http://code.jquery.com/jquery-1.8.2.min.js" type="text/javascript"></script>
            <script src="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" type="text/javascript"></script>
            <script src="http://cdn.kendostatic.com/2012.3.1114/js/kendo.all.min.js" type="text/javascript"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#errorDetailPanel").kendoPanelBar({
                        expandMode: "multiple"
                    });
                });
            </script>
        </body>
    </html>
}